<a href="https://colab.research.google.com/github/darman1725/Analisa-Visualisasi-Data/blob/main/pyspark_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Langkah Praktikum**

Pada pertemuan kali ini akan dilakukan visualisasi data pada big data. Untuk memudahkan 
praktikum akan menggunakan layanan Google Colab.

**Pengaturan Google Cola**b

Untuk menggunakan layanan Google Colab dapat diakses pada halaman 
https://colab.research.google.com/ . Silahkan gunakan akun Gmail untuk masuk ke 
layanan tersebut. Pilih tombol New Notebook dan ubah nama menjadi pysparkdemo.ipynb. Notebook di sini adalah platform jupyter notebook yang dihosting di layanan 
Google Colab.

**Pengaturan PySpark di Colab**

Spark ditulis menggunakan bahasa pemrogrraman Scala dan membutuhkan Java Virtual 
Machine (JVM) untuk menjalankannya. Sebagai langkah pertama, lakukan instalasi Java 
dengan menuliskan perintah di bawah ini.

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

Untuk instalasi Apache Spark, unduh berkas menggunakan perintah wget kemudian 
ekstrak dengan perintah tar. Silahkan salin perintah berikut untuk melakukan instalasi.

In [2]:
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz

Sebagai Langkah lanjutan, dibutuhkan pengaturan terkait Java dan Spark Home. Untuk 
melakukannya dapat memanfaatkan script pyton. Silahkan masukkan kode berikut ke 
dalam notebook.

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

**Konfigurasi PySpark**

Konfigurasi PySpark dapat dilakukan dengan menginstall library findspark yang digunakan 
untuk mencari lokasi Spark yang terinstall pada sistem. Proses instalasi dapat 
memanfaatkan perintah pip, silahkan perhatikan perintah di bawah ini.

In [4]:
!pip install -q findspark

Setelah proses instalasi berhasil, lakukan import library dan inisialisasi findspark. Silahkan 
salin kode berikut ke dalam notebook.

In [5]:
import findspark
findspark.init()

Koneksi ke dalam spark dapat dilakukan memanfaatkan SparkSession. Salin kode berikut, 
dimana spark menggunakan port 4050.

In [21]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
 .master("local")\
 .appName("Colab")\
 .config('spark.ui.port', '4050')\
 .getOrCreate()

**Memasukkan data ke dalam PySpark**

Spark mempunyai beberapa modul untuk membaca data dengan format yang berbeda. 
Spark secara otomatis akan menentukan tiap tipe data untuk setiap kolom. Data yang 
akan digunakan sebagai dataset dapat diunduh menggunakan perintah wget. Silahkan 
perhatikan perintah berikut.

In [32]:
!wget --continue https://raw.githubusercontent.com/dhanifudin/pyspark-demo/main/sample_books.json -O /tmp/sample_books.json

--2022-06-09 15:12:50--  https://raw.githubusercontent.com/dhanifudin/pyspark-demo/main/sample_books.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 416 Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

Data yang telah diunduh dapat dibaca dengan menggunakan kode berikut. Silahkan salin 
kode berikut ke dalam notebook.

In [33]:
# Read JSON file into dataframe
df = spark.read.json("/tmp/sample_books.json")

**Analisa data menggunakan PySpark**

Sebelum dapat menganalisa dataset, perlu mengetahui schema data yang akan diolah. 
Schema dapat diketahui dengan menggunakan kode berikut. Kode ini memanfaatkan 
dataframe.

In [34]:
df.printSchema()

root
 |-- author: string (nullable = true)
 |-- edition: string (nullable = true)
 |-- price: double (nullable = true)
 |-- title: string (nullable = true)
 |-- year_written: long (nullable = true)

**Menampilkan data**

Dataset dapat ditampilkan dengan perintah show dari dataframe. Perintah show memiliki 
parameter berupa jumlah record yang ditampilkan serta opsi truncate. Silahkan salin kode 
beriikut ke dalam notebook.

In [35]:
df.show(4,False)

+---------------+--------------+-----+----------------+------------+
|author         |edition       |price|title           |year_written|
+---------------+--------------+-----+----------------+------------+
|Austen, Jane   |Penguin       |18.2 |Northanger Abbey|1814        |
|Tolstoy, Leo   |Penguin       |12.7 |War and Peace   |1865        |
|Tolstoy, Leo   |Penguin       |13.5 |Anna Karenina   |1875        |
|Woolf, Virginia|Harcourt Brace|25.0 |Mrs. Dalloway   |1925        |
+---------------+--------------+-----+----------------+------------+
only showing top 4 rows

**Menghitung jumlah dataset**

Dataset dapat dihitung menggunakan fungsi count, silahkan salin kode berikut ke dalam 
untuk mengetahui jumlah dataset yang dimiliki.

In [36]:
df.count()

13

**Menampilkan kolom yang diinginkan**

Dataset dapat dipilih untuk menampilkan data dengan kolom tertentu dengan fungsi 
select. Untuk menampilkan hanya kolom title, price dan year_written, silahkan salin kode 
berikut ke dalam colab.

In [37]:
df.select("title", "price", "year_written").show(5)

+----------------+-----+------------+
|           title|price|year_written|
+----------------+-----+------------+
|Northanger Abbey| 18.2|        1814|
|   War and Peace| 12.7|        1865|
|   Anna Karenina| 13.5|        1875|
|   Mrs. Dalloway| 25.0|        1925|
|       The Hours|12.35|        1999|
+----------------+-----+------------+
only showing top 5 rows

**Me-filter dataset**

PySpark dapat juga melakukan filter suatu dataset berdasarkan kondisi yang dibutuhkan. 
Sebagai contoh: dataset yang ingin ditampilkan adalah buku yang ditulis setelah tahun 
1950 dan harganya lebih dari $10. Filter dapat dilakukan dengan menuliskan kode berikut.

In [38]:
df_filtered = df.filter("year_written > 1950 AND price > 10 AND title IS NOT NULL")
df_filtered.select("title", "price", "year_written").show(50,False)

+-----------------------------+-----+------------+
|title                        |price|year_written|
+-----------------------------+-----+------------+
|The Hours                    |12.35|1999        |
|Harry Potter                 |19.95|2000        |
|One Hundred Years of Solitude|14.0 |1967        |
+-----------------------------+-----+------------+

**Penggunaan PySpark SQL functions**

PySpark mempunyai fungsi SQL lainnya, misalnya max, aggregate function (groupBy, sum, 
count dll). Contoh: menampilkan data buku paling mahal, dapat menggunakan fungsi 
max.

In [39]:
from pyspark.sql.functions import max

# Find the costliest book
maxValue = df_filtered.agg(max("price")).collect()[0][0]
print("maxValue: ",maxValue)

df_filtered.select("title","price").filter(df.price == maxValue).show(20, False)

maxValue:  19.95
+------------+-----+
|title       |price|
+------------+-----+
|Harry Potter|19.95|
+------------+-----+

TUGAS !

In [40]:
df.show()

+--------------------+-----------------+-----+--------------------+------------+
|              author|          edition|price|               title|year_written|
+--------------------+-----------------+-----+--------------------+------------+
|        Austen, Jane|          Penguin| 18.2|    Northanger Abbey|        1814|
|        Tolstoy, Leo|          Penguin| 12.7|       War and Peace|        1865|
|        Tolstoy, Leo|          Penguin| 13.5|       Anna Karenina|        1875|
|     Woolf, Virginia|   Harcourt Brace| 25.0|       Mrs. Dalloway|        1925|
|Cunnningham, Michael|   Harcourt Brace|12.35|           The Hours|        1999|
|         Twain, Mark|          Penguin| 5.76|    Huckleberry Finn|        1865|
|    Dickens, Charles|     Random House| 5.75|         Bleak House|        1870|
|         Twain, Mark|     Random House| 7.75|          Tom Sawyer|        1862|
|     Woolf, Virginia|          Penguin| 29.0| A Room of One's Own|        1922|
|       Rowling, J.K.|   Harcourt Brace|19.95|        Harry Potter|        2000|
|             Marquez|Harper  Perennial| 14.0|One Hundred Years...|        1967|
|         Shakespeare| Signet  Classics| 7.95|Hamlet, Prince of...|        1603|
|       Tolkien, J.R.|          Penguin|27.45|   Lord of the Rings|        1937|
+--------------------+-----------------+-----+--------------------+------------+

* Tampilkan data buku dengan harga paling murah!

In [41]:
from pyspark.sql.functions import min

# Find the cheapest price

minValue = df.agg(min("price")).collect()[0][0]
print("minValue: ",minValue)

df.select("author", "edition", "price", "title", "year_written").filter(df.price == minValue).show(20, False)

minValue:  5.75
+----------------+------------+-----+-----------+------------+
|author          |edition     |price|title      |year_written|
+----------------+------------+-----+-----------+------------+
|Dickens, Charles|Random House|5.75 |Bleak House|1870        |
+----------------+------------+-----+-----------+------------+

* Tampilkan jumlah terbit buku dikategorikan setiap tahun ditulis!

In [42]:
import pyspark.sql.functions as f
from pyspark.sql.functions import desc

df.groupBy("year_written").count().select("year_written", f.col("count").
alias ("jml_terbit_setiap_tahun")).sort(desc("year_written")).show()

+------------+-----------------------+
|year_written|jml_terbit_setiap_tahun|
+------------+-----------------------+
|        2000|                      1|
|        1999|                      1|
|        1967|                      1|
|        1937|                      1|
|        1925|                      1|
|        1922|                      1|
|        1875|                      1|
|        1870|                      1|
|        1865|                      2|
|        1862|                      1|
|        1814|                      1|
|        1603|                      1|
+------------+-----------------------+

* Tampilkan data buku termahal tiap tahun penulisannya!

In [43]:
import pyspark.sql.functions as f
from pyspark.sql.functions import desc

df.groupBy("year_written").agg({"Price" : "max"}).sort(desc("year_written")).show()

+------------+----------+
|year_written|max(Price)|
+------------+----------+
|        2000|     19.95|
|        1999|     12.35|
|        1967|      14.0|
|        1937|     27.45|
|        1925|      25.0|
|        1922|      29.0|
|        1875|      13.5|
|        1870|      5.75|
|        1865|      12.7|
|        1862|      7.75|
|        1814|      18.2|
|        1603|      7.95|
+------------+----------+

* Tampilkan data buku termurah tiap tahun penulisannya!

In [44]:
import pyspark.sql.functions as f
from pyspark.sql.functions import desc

df.groupBy("year_written").agg({"Price" : "min"}).sort(desc("year_written")).show()

+------------+----------+
|year_written|min(Price)|
+------------+----------+
|        2000|     19.95|
|        1999|     12.35|
|        1967|      14.0|
|        1937|     27.45|
|        1925|      25.0|
|        1922|      29.0|
|        1875|      13.5|
|        1870|      5.75|
|        1865|      5.76|
|        1862|      7.75|
|        1814|      18.2|
|        1603|      7.95|
+------------+----------+